body {
  overflow: hidden;
}

#text {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  white-space: nowrap;
  animation: rightToLeft 5s linear infinite;
}

@keyframes rightToLeft {
  from {
    left: 100%;
  }

  to {
    left: 0%;
    transform: translateX(-100%);
  }
}
