* {
    box-sizing: border-box;
}

body {
    margin: 25px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

li:hover {
    background-color: #efefef;
    cursor: pointer;
}

.thumbnail {
    margin-right: 5px;
}

.thumbnail img {
    width: 100px;
    height: 100px;
}

.ltr {
    display: flex;
    flex-direction: row;
}

.content {
    display: none;
    transition: all 500ms ease;
}

.flickr-logo {
    display: flex;
    justify-content: center;
}

.fotorama {
    display: flex;
    justify-content: center;
}

.content.expand {
    display: block;
}