* {
    box-sizing: border-box;
}

body {
    margin: 25px;
}

#posts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #f5fafd;
    padding: 10px;
    border: 1px solid #b5c9d6;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Verdana';
    font-size: 13px;
}

.post:hover {
    cursor: pointer;
    background-color: #ebf6fd;
}

.thumbnail {
    margin-right: 5px;
}

.thumbnail img {
    width: 100px;
    height: 75px;
}

.ltr {
    display: flex;
    flex-direction: row;
}

.content {
    transition: all 300ms ease;
    cursor: default;
    display: none;
}

.content h1 {
    font-size: 14px;
    text-align: center;
    font-family: 'Verdana';
}

.content.expand {
    position: relative;
    display: block;
}

.date {
    font-size: 0.8rem;
    font-family: 'Verdana';
}

.title {
    font-size: 1rem;
    font-weight: bold;
    color: blue;
    font-family: 'Forum';
}

.embed-shortcode {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 auto;
}

.embed-shortcode iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gallery-shortcode .row {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

.gallery-shortcode img {
    padding: 2px;
}

.flickr-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.fotorama {
    display: flex;
    justify-content: center;
}

.fotorama__wrap--slide .fotorama__stage__frame {
    background-color: #f7f7f7;
    border: 1px solid lightgrey;
}

#pagination-wrapper {
    display: flex;
    justify-content: center;
}

#pagination {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    width: calc(10*30px);
    border-color: #b5b5b5;
    border-style: solid;
    border-width: 1px 0 0 1px;
    padding: 0;
    box-sizing: content-box;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-color: #b5b5b5;
    border-style: solid;
    border-width: 0 1px 1px 0
}

.page:nth-child(odd) {
    background-color: #e2e2e2;
}

.page:nth-child(even) {
    background-color: #efefef;
}

.page:hover:not(.active):not(.empty) {
    cursor: pointer;
    font-weight: bold;
}

.page.active {
    font-weight: bold;
    background-color: #d2d3f7;
}